nav {
	background-color: white;
	overflow-y: auto;
	overflow-x: hidden;
	position: fixed;
	top: 56px;
	left: 0;
	bottom: 0;
	/* width: 50px; */
	width: 216px;
	padding: 0 12px;
	z-index: 3;
	font-size: 14px;
}
nav::-webkit-scrollbar {
	width: 8px;
	border-radius: 5px;
}
nav:hover::-webkit-scrollbar-thumb {
	background-color: #888;
}
nav::-webkit-scrollbar-thumb {
	border-radius: 5px;
}
nav::-webkit-scrollbar-track {
	border-radius: 5px;
}

.sidebar-top,
.sidebar-you,
.sidebar-subscriptions,
.sidebar-explore,
.sidebar-more-from-youtube,
.sidebar-bottom {
	display: flex;
	flex-direction: column;
	margin-top: 8px;
	margin-bottom: 14px;
}

.icon {
	position: relative;
	display: flex;
	align-items: center;
	width: 180px;
	height: 40px;
	padding: 0 12px;
	border-radius: 10px;
	column-gap: 20px;
	transition: background-color 0.15s;
	cursor: pointer;
}
.icon:hover {
	background-color: rgb(240, 240, 240);
}

#home {
	margin-top: 10px;
	font-weight: 500;
	background-color: rgb(240, 240, 240);
}
#home:hover {
	background-color: rgb(225, 225, 225);
}

.icon-img-div {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
}

.Subscriptions-text,
.explore-text,
.more-from-youtube-text {
	font-size: 16px;
	font-weight: 500;
	margin: 10px 0 10px 16px;
}

.sidebar-copyright {
	width: 200px;
	margin: 15px 18px;
}

.sidebar-copyright a {
	font-size: 13px;
	font-weight: 500;
	text-decoration: none;
	color: #606060;
}

.sidebar-copyright-text {
	display: flex;
	flex-direction: column;
	row-gap: 12px;
}

.sidebar-copyright-text-column {
	display: flex;
	flex-direction: column;
	row-gap: 3px;
}

.sidebar-copyright-text-row {
	display: flex;
	column-gap: 10px;
}
.sidebar-copyright-text-column p {
	font-size: 12px;
	color: #909090;
	margin-top: 6px;
}

/* Tooltip */
.icon .tooltip {
	position: absolute;
	bottom: -25px;
	right: 20%;
	padding: 5px 6px;
	color: rgb(220, 220, 220);
	background-color: rgba(0, 0, 0, 0.9);
	font-size: 11px;
	text-wrap: nowrap;
	border: 1px outset rgb(179, 179, 179);
	opacity: 0;
	transition: opacity 0.15s;
	pointer-events: none;
	z-index: 5;
}
.icon:hover .tooltip {
	opacity: 1;
	transition-delay: 0.6s;
}

@media (max-width: 480px) {
	nav {
		display: none;
	}
}